.Form {
  display: flex;
  justify-content: center;
  width: 50%;
}

.wrapper {
  background-color: #fff;
  width: 38vw;
  min-height: 45vw;
}

@media (max-width: 450px) {
  .Form {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .Form {
    min-height: 100vh;
  }
  .wrapper {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    min-height: 38vw;
    width: 32vw;
  }
}
